{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ doc.name }}</h1>

{% if doc.program %}
<p><strong>Program:</strong> {{ doc.program }}</p>
{% endif %}

{% if doc.academic_year %}
<p><strong>Academic Year:</strong> {{ doc.academic_year }}</p>
{% endif %}

{% if doc.academic_term %}
<p><strong>Academic Term:</strong> {{ doc.academic_term }}</p>
{% endif %}

{% if doc.components %}
<h3>Fee Components</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Fees Category</th>
			<th>Description</th>
			<th class="text-right">Amount</th>
		</tr>
	</thead>
	<tbody>
		{% for component in doc.components %}
		<tr>
			<td>{{ component.fees_category }}</td>
			<td>{{ component.description or '' }}</td>
			<td class="text-right">{{ frappe.format_value(component.amount, {'fieldtype': 'Currency'}) }}</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th colspan="2">Total Amount</th>
			<th class="text-right">{{ frappe.format_value(doc.total_amount, {'fieldtype': 'Currency'}) }}</th>
		</tr>
	</tfoot>
</table>
{% endif %}
{% endblock %}
